<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
  .product-image {
    width: 95%;
  }

  .price-title {
    font-style: italic;
    font-size: 14px;
  }

  .price {
    font-size: 16px;
    font-weight: bold;
  }

  .product-item,
  .product-item:link,
  .product-item:hover,
  .product-item:visited {
    text-decoration: none;
    color: black;
  }

  .item-container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
  }

  .item-info {
    position: absolute;
    bottom: 0px;
    height: 50px;
  }
</style>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-3">
      <form class='mt-5'>
        <label><b>Tên sản phẩm</b></label>
        <input name="name" value='{{name}}' class="form-control" placeholder="Nhập tên sản phẩm để tìm">

        <label class="mt-3"><b>Hãng sản xuất:</b></label> 
        <div>
          <input type='radio' name='categoryId' checked value=''> 
          <label>Tất cả</label>
        </div>
        {% for c in categoryList %}
          <div>
            <input name='categoryId' value="{{c.id}}" {%if c.id == categoryId %} checked {%endif%} type="radio">
            <label>{{c.name}}</label>
          </div>
        {% endfor %}

        <label class="mt-3"><b>Mức giá:</b></label>
        <div>
          <input type="radio" name="priceRange" value='' checked>  
          <label>Tất cả</label>
        </div>

        <div>
          <input type="radio" name="priceRange" value='1' {%if priceRange == 1 %} checked {%endif%}> 
          <label>Dưới 10 triệu</label>
        </div>
        
        <div>
          <input type="radio" name="priceRange" value='2' {%if priceRange == 2 %} checked {%endif%}> 
          <label>Trên 10 triệu</label>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Tìm kiếm</button>
      </form>
    </div>

    <div class="col-9">
      <ul class="list-unstyled row">
        {% for p in productList %}
          <li class="list-item col-sm-4 mt-3">
            <div class='item-container'>
              <a href="/product-detail?id={{p.id}}" class='product-item'>
                <img src="/{{p.image}}" class='product-image'>
                <div class="item-info">
                  <div>
                    <span class='product-name'>{{p.name}}</span>
                  </div>
                  <div>
                    <span class='price-title'>Giá bán :</span> 
                    <span class='price'>{{p.price}} ₫</span>
                  </div>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
