<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
  .product-detail-title {
    font-size: 24px;
    font-weight: bold;
  }

  .product-detail-image {
    width: 100%
  }
</style>

<div class="container mt-5 mb-5">
	<div class="row">
	  <div class="col-6">
	    <image class='product-detail-image' src="/{{product.image}}">
	  </div>

	  <div class="col-6 mt-5">
	    <div class='product-detail-title'>{{product.name}}</div>
	    <br>
	    <table class="table">
	      <tr>
	        <td>Hãng sản xuất:</td>
	        <td>{{product.category.name}}</td>
	      </tr>
	      <tr>
	        <td>Giá bán:</td>
	        <td><b>{{product.price}} ₫</b></td>
	      </tr>
	    </table>
	    <br>
	    <a class="btn btn-secondary" href="/">Quay lại</a>
	    <a class="btn btn-primary" href="#">Mua hàng</a>
	  </div>
	</div>
</div>